* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 15px;
  margin: auto;
  font-size: 30px;
}

#search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 20%;
  background: #f1f1f1;
  font-weight: bold;
}
.searchbtn {
  width: 20%;
  padding: 10px;
  /* margin: 10px; */
  background-color: rgb(205, 127, 38);
  color: white;
  font-size: 17px;
  border: 1px solid rgb(205, 127, 38);
  border-left: none;
  cursor: pointer;
}
#searchwrapper {
  display: grid;
  margin: 5px;
}

.todayforcast {
  background-color: orange;
  margin: 10px;
  padding: 10px;
  width: 60%;
  height: 280px;
  border: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.qwert {
  font-weight: bold;
  background-color: rgb(75, 75, 121);
  margin: 10px;
  padding: 10px;
  width: 180px;
  height: 280px;
  border: 5px;
  border-radius: 10px;
}
#cityName {
  margin: 10px;
  font-weight: bold;
}
#forcastcontainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
