.searchbtn {
  width: 120px;
  height: 60px;
  margin: 10px;
}

#weathercontainer {
  width: auto;
  height: auto;
  border: 5px;
  border-radius: 10px;
}

#forcastcontainer {
  /* display: grid;
  grid-template-columns: auto;
  column-gap: 40px; */
  float: left;
  width: auto;
  height: auto;
  border-radius: 5px;
  border-radius: 10px;
}
#dayscontainer {
  border: 5px;
  border-radius: 10px;
  /* flex-direction: column;
  column-gap: 40px; */
  background-color: rgb(75, 75, 121);
  margin: 10px;
  padding: 10px;
  width: 180px;
  height: 200px;
}
